<div id="body" class="container bg-dark">
  <div class="row p-1 h-50 center ">
    <div class="menoBtn col border border-primary rounded m-1 bg-primary text-white" data="0">
      <p><span class="oi oi-globe"></span></p>
    </div>
    <div class="menoBtn  col border border-success rounded m-1 bg-success text-white" data="1">
      <p><span class="oi oi-moon"></span></p>
    </div>
  </div>
  <div class="row p-1 h-50 center">
    <div class="menoBtn col border border-danger rounded m-1 bg-danger text-white" data="2">
      <p><span class="oi oi-star "></span></p>
    </div>
    <div class="menoBtn col border border-warning rounded m-1 bg-warning text-white" data="3">
      <p><span class="oi oi-sun"></span></p>
    </div>
  </div>
</div>
