<div class="container" >
  <div class="portrait">
    <div class="row">
      <div class="col-12 canvasContainer" id="canvasPortraitContainer">
      </div>
      <div class="col-4 btnPortrait p-0 m-0">
        <button type="button" class="btnLeft btn btn-block btn-lg btn-dark p-0 m-0">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-4 btnPortrait p-0 m-0">
        <button type="button" class="btnCenter btn btn-block btn-lg btn-dark p-0 m-0">
          <i class="fa fa-arrow-up"></i>
        </button>
      </div>
      <div class="col-4 btnPortrait p-0 m-0">
        <button type="button" class="btnRight btn btn-block btn-lg btn-dark p-0 m-0">
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="landscape">
    <div class="row p-0 m-0">
      <div class="col-2 btnLandscape p-1">
        <button type="button" class="btnLeft btn btn-block btn-lg btn-dark border-light">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-8 p-1 canvasContainer"  id="canvasLandscapeContainer" >
      </div>
      <div class="col-2 btnLandscape p-1">
        <button type="button" class="btnRight btn btn-block btn-lg btn-dark border-light">
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
