<div class="container">
  <div class="portrait">
    <div class="row">
      <div class="col-12">
        <canvas id="canvasPortrait"></canvas>
      </div>
      <div class="col-6 btnPortrait ">
        <button type="button" class="btnLeft btn btn-block btn-lg btn-dark border-light">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-6 btnPortrait">
        <button type="button" class="btnRight btn btn-block btn-lg btn-dark border-light">
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="landscape">
    <div class="row p-0 m-0">
      <div class="col-3 btnLandscape p-1">
        <button type="button" class="btnLeft btn btn-block btn-lg btn-dark border-light">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-6 p-1">
        <canvas id="canvasLandscape"></canvas>
      </div>
      <div class="col-3 btnLandscape p-1">
        <button type="button" class="btnRight btn btn-block btn-lg btn-dark border-light">
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
