@charset "UTF-8";
.center,.c1  {
  position: relative;
}

.center p, .c1 .c2{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.c1 .c2 {
  margin: 0 auto;
  width: 90%;
}

.menoBtn{
  cursor: pointer;
  transition: 0.25s;
}

.menoBtn:hover{
  opacity: 0.75;
}

.menoBtn:active{
  background-color: transparent !important;
}

.menoBtn.active{
  background-color: transparent !important;
}

#header{
  padding-top: 1.5em;
}

.noselect {
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  overflow-y: hidden;
  overflow-x: hidden;
}

.btnLandscape button{
  height: 100%;
}

.btnPortrait button{
  height: 240px;
}
canvas{
  border-radius: 5px;
}

.canvasContainer{
  width: 100%;
  height: 100%;
}

.zoomOutIn{
  font-size: 750px;
  transition: 0.5s;
}

.zoomIn{
  font-size: 40px;
}


